$background-color : hsl(216, 55%, 11%); // hsl(216, 59%, 58%);        //(main BG)
$card-color : hsl(216, 50%, 16%);        //(card BG)
$line-color : hsl(215, 32%, 27%);       //(line)
$white : hsl(0, 0%, 100%);

$copy-color:hsl(218, 28%, 62%);
$accent-color: #25F2ED;