@import './variables';
@import './reset';
@import './card';
@import './mixin';

body{
    background-color: $background-color;
    font-family: 'Outfit', sans-serif;
    color: $copy-color;
}

main{
    width: 100%;
    height: 100%;
    @include flexcontent();
}